@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@400&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    color: #3a3a3a;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

/* headings & logo */

h1, h2 {
    color: #252525;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    /* float: left; */ 
    font-size: 280%;
    text-decoration: none;
}